<app-menu>
  <mat-card>
    <mat-card-title>Novo Item</mat-card-title>
    <form>
      <mat-form-field>
        <input
        matInput 
        maxlength="50"
        [formControl]="form"
        required 
        type="text" 
        placeholder="Digite o nome do produto" 
        name="nome" 
        [(ngModel)]="item.nome">
        <mat-error *ngIf="form.invalid ">{{getErrorMessage(nome)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput 
        required
        placeholder="Digite a unidade de medida" 
        name="unidade" 
        [(ngModel)]="item.unidade">
        <mat-error *ngIf="form.invalid ">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput 
        type="number" 
        placeholder="Quantidade" 
        name="quantidade" 
        [(ngModel)]="item.quantidade">
      </mat-form-field>
      <mat-form-field>
        <input matInput
        required
        type="number" 
        placeholder="Digite o preço do produto" 
        name="preço" 
        [(ngModel)]="item.preco">
        <mat-error *ngIf="form.invalid ">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="O produto é perecível?" name="perecivel" [(ngModel)]="item.perecivel" [formControl]="perecivel">
        <mat-error *ngIf="form.invalid ">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="date" placeholder="Data de validade" name="validade" [(ngModel)]="item.dataValidade">
      </mat-form-field>
      <mat-form-field>
        <input matInput required type="date" placeholder="Data de Fabricação" name="fabricacao" [(ngModel)]="item.dataFabricacao">
      </mat-form-field>
    </form>
    <div class="button mr-4 ml-2">
      <button [disabled]="!form.valid" class="btn-salvar btn" type="button"  mat-raised button (click)="createItem()">Salvar</button>
      <button class="btn-cancelar btn purple" type="button" mat-raised button (click)="cancel()">Cancelar</button>
    </div>
  </mat-card>
</app-menu>