/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.vertical-middle {
    vertical-align: middle;
} 

.purple {
    color: #673ab7;
}

.msg-sucess {
    background-color: #673ab7;
    color: #fff;
}

.msg-erro {
    background-color: red;
    color: #fff;
}
